- if admin_signed_in?
  - admin_class = 'pointer contribution_edit'
%h2#contribution_description.text-center{class: admin_class}
  = @contribution_text
  - if admin_class
    %span.glyphicon.glyphicon-edit
%hr
#contribution_container.text-center
  %h3.underline Contribute Here
  .payment-type
    .radio
      %label
        %input{type: 'radio', name: 'payment_type', value: 'paypal', checked: 'checked'} PayPal
    .radio
      %label
        %input{type: 'radio', name: 'payment_type', value: 'credit'} Credit / Debit
  .contribution_actions
    %form#contribution_form.hide{action: '/send_contribution', method: 'post'}
      %input#contribution_amount{type: 'hidden', name: 'contribution_amount'}
      = hidden_field_tag :authenticity_token, form_authenticity_token
    .col-md-12
      %span.money-label.donation_label.label.label-success.pointer{value: '10'} $10
      %span.money-label.donation_label.label.label-success.pointer{value: '25'} $25
      %span.money-label.donation_label.label.label-success.pointer{value: '50'} $50
    .col-md-12
      %span.money-label.label.label-success.pointer.other_contribution Other
  %h3.contribution_redirect_message.hide.text-success
    Redirecting You To Paypal, Please Wait...
  %hr
  .text-center
    %h3
      = "#{number_to_currency(@raised_value)} raised of #{number_to_currency(@goal)} goal"
    .text-center
      %h4
        = "(#{number_to_percentage(@percent, precision: 0)})"
      %h4
        = "Donors: #{@donors}"
  - if admin_signed_in?
    = form_for @raised do |f|
      = f.label :raised
      = f.text_field :raised_value
      = f.label :goal
      = f.text_field :goal
      = f.label :donors
      = f.text_field :donors, type: 'number', min: 0
      = f.submit
    %br
  .thermometer{data: {percent: @percent}}
%hr
%h3.underline.text-center Albums
- @albums['ALBUMS'].each_with_index do |a, i|
  - i += 1
  %div.col-sm-4.text-center
    %h4.lato.album-title
      = a['NAME']
    %span
      - Rails.logger.info "asset art: #{a['ART']}"
      %img.art-thumb{src: album_art_image_path(a['ART'])}
    %div
      - a['TRACKS'].each do |t|
        %div
          = t['NAME']
  - if i % 3 == 0
    .clearfix
= render(partial: 'other_contribution_modal')
= render(partial: 'payment_modal')
