- if admin_signed_in?
  - admin_class = 'pointer contribution_edit'
%h2#contribution_description.text-center{class: admin_class}
  = @contribution_text
  - if admin_class
    %span.glyphicon.glyphicon-edit
%hr
#contribution_container.text-center
  %h3.underline Contribute Here
  .contribution_actions
    %form#contribution_form.hide{action: '/send_contribution', method: 'post'}
      %input#contribution_amount{type: 'hidden', name: 'contribution_amount'}
      = hidden_field_tag :authenticity_token, form_authenticity_token
    %span.money-label.donation_label.label.label-success.pointer{value: '10'} $10
    %span.money-label.donation_label.label.label-success.pointer{value: '25'} $25
    %span.money-label.donation_label.label.label-success.pointer{value: '50'} $50
    %span.money-label.label.label-success.pointer.other_contribution Other
  %h3.contribution_redirect_message.hide.text-success
    Redirecting You To Paypal, Please Wait...
%hr
%h3.underline.text-center Albums
- @albums['ALBUMS'].each_with_index do |a, i|
  - i += 1
  %div.col-sm-4.text-center
    %h4.lato.album-title
      = a['NAME']
    %span
      %img.art-thumb{src: album_art_image_path(a['ART'])}
    %div
      - a['TRACKS'].each do |t|
        %div
          = t['NAME']
  - if i % 3 == 0
    .clearfix
= render(partial: 'other_contribution_modal')
