%h2.center.lato Upcoming Shows
.add-show.lato.center
  %a#add_show{href: '#'}
    = fa_icon "plus"
    Add Show
  %table
    %tbody
      .add_show_body
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Date
      %th Venue
      %th Location
      %th Tickets
      - if admin_signed_in?
        %th Remove
  %tbody
    - @shows.each do |show|
      %tr.show-data{'data-id' => show.id}
        %td#date_field
          = show.date.strftime("%D %r")
        %td#venue_field
          = show.venue
        %td#location_field
          = show.location
        %td#purchase_option
          - case show.purchase_options
          - when 'at_the_door'
            At The Door
          - when 'free_show'
            Free Show
          - when 'ticket_url'
            %a{href: show.tickets, target: "_blank"} Tickets
          - else
            = link_to "Contact", contact_index_path
        - if admin_signed_in?
          %td
            %a.remove-show{href: '#'}
              = fa_icon "trash"
            %a.edit-show{href: '#'}
              = fa_icon "pencil"


= render partial: 'layouts/add_show_modal'
