.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          Charles Ellsworth
        .nav-header
        #follow
          = link_to "https://www.facebook.com/charles.b.ellsworth", {target: '_blank'} do
            = fa_icon 'facebook'
          = link_to "https://twitter.com/cellsworth54", {target: '_blank'} do
            = fa_icon 'twitter'
          = link_to "http://cellsworth54.tumblr.com", {target: '_blank'} do
            = fa_icon 'tumblr'
          = link_to "https://www.youtube.com/user/wanderingman54", {target: '_blank'} do
            = fa_icon 'youtube'
          = link_to "https://play.spotify.com/artist/31Ca3LzvrbaSP30RY36jxe?play=true&utm_source=open.spotify.com&utm_medium=open", {target: '_blank'} do
            = fa_icon 'spotify'
          %a#mailing_list{href: '#'} Join Mailing List
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          = link_to("Latest", news_index_path, class: 'nav-item')
        %li
          = link_to("Bio", bio_index_path, class: 'nav-item')
        %li
          = link_to("Look & Listen", '/', class: 'nav-item')
        %li
          = link_to("Shows", '/', class: 'nav-item')
        %li
          = link_to("Store", '/', class: 'nav-item')
        %li
          = link_to(contact_index_path, class: 'nav-item') do
            = fa_icon "envelope"
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %b.fa.fa-gears
          %ul.dropdown-menu
            %li
              - if admin_signed_in?
                = link_to 'Mass Signup', '/admin/mass_signup'
                = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'delete'
              - else
                = link_to 'Sign In', new_admin_session_path, method: :get
%hr
= render partial: 'layouts/register_modal'
