.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          CHARLES ELLSWORTH
        .nav-header
        = render(partial: 'layouts/social_media_links', locals: {id: 'follow', classes: 'hidden-xs hidden-s'})
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          - if controller_name == 'home'
            = link_to("Latest", "#latest", class: 'nav-item')
          - else
            = link_to("Latest", "#{home_path}#latest", class: 'nav-item')
        %li
          = link_to("Bio", bio_index_path, class: 'nav-item')
        %li
          = link_to("Look & Listen", media_path, class: 'nav-item')
        %li
          = link_to("Shows", shows_path, class: 'nav-item')
        %li
          = link_to("Store", 'http://wanderingman.bigcartel.com/', target: '_blank', class: 'nav-item')
        %li
          = link_to(contact_index_path, class: 'nav-item') do
            = fa_icon "envelope"
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %b.fa.fa-gears
          %ul.dropdown-menu
            %li
              - if admin_signed_in?
                = link_to 'Mass Signup', '/admin/mass_signup'
                = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'delete'
              - else
                = link_to 'Sign In', new_admin_session_path, method: :get
        %li
          = render(partial: 'layouts/social_media_links', locals: {id: 'no-follow', classes: 'visible-xs visible-s'})
%hr
= render partial: 'layouts/register_modal'
