%div{id: id, class: classes}
  = link_to "https://www.facebook.com/charles.b.ellsworth", {target: '_blank'} do
    = fa_icon 'facebook'
  = link_to "https://twitter.com/cellsworth54", {target: '_blank'} do
    = fa_icon 'twitter'
  = link_to "http://cellsworth54.tumblr.com", {target: '_blank'} do
    = fa_icon 'tumblr'
  = link_to "https://www.youtube.com/user/wanderingman54", {target: '_blank'} do
    = fa_icon 'youtube'
  = link_to "https://play.spotify.com/artist/31Ca3LzvrbaSP30RY36jxe?play=true&utm_source=open.spotify.com&utm_medium=open", {target: '_blank'} do
    = fa_icon 'spotify'
  | &nbsp
  %a#mailing_list{href: '#'} Join Mailing List